
<div class="side-bar">
    <h3>Donate $5</h3>

    <!-- <div id="payment-buttons"  style="margin: 10px 40px;"></div>
        <script src=""></script>
        <script> 
  
          paypal.Buttons({
               createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [
                      {
                          amount: {
                              currency_code: "USD",
                              value: "5"
                          }
                      }
                  ]
              });
          }
          }).render('#payment-buttons');
      </script> -->

</div>